{
  "presets": ["stage-0", ["es2015", {"modules": false}], "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    },
    "production": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    }
  }
}